<div>
  <div style="margin-bottom: 20px;">
    <select [(ngModel)]="selectedGroupId">
      <option
        *ngFor="let group of groups" value="group.id"
        [ngValue]="group.id">
          {{ group.name }}
      </option>
    </select>
    <button (click)="addTask()">Add Task</button>
    <button (click)="addColumn()">Add Column</button>
  </div>
  <div *ngFor="let group of groups">
    <app-list [tasks]="groupTasks[group.id]" [columns]="groupColumns[group.id]"></app-list>
    <div style="height: 20px;"></div>
  </div>
</div>